
<div class="wrapper">

    <details name="toclose" open=""><summary class="status"><div class="title">Status</div></summary>
    <div class="content">

        <div id="equipment" class="subcontent">
            <div class="subtitle">Equipment</div>
        </div>
    
        <div id="status" class="subcontent">

            <div class="cont">

                <div class="stats">
                    <div class="word">Attack: </div>
                    <div class="stat" id="attack-value">00</div>
                </div>

                <div class="stats">
                    <div class="word">Attack Speed: </div>
                    <div class="stat" id="attack-speed">00</div>
                </div>

                <div class="stats">
                    <div class="word">Attack Type: </div>
                    <div class="stat" id="attack-type">00</div>
                </div>

            </div>

        </div>
    
    </div>
    </details>
    
    <details name="toclose" open="" id="optionsAdv"><summary class="options"><div class="title">Options</div></summary>
    <div class="container">
    
        <button class="option" id="remove">Banish from group</button>
        <button class="option" id="promote">Promote as Group Leader</button>
        <button class="option" id="evolve">Evolve</button>
        <button class="option" id="devolve">Devolve</button>
    
    </div>
    
    <div id="container-evolution">
        <div class="subtitle">Choose an evolution:</div>
        <div class="container"></div>
    </div>
    </details>
    
</div>


