
<div class="wrapper">
    
    <div class="container">
    
        <button class="option" id="remove">Banish from group</button>
        <button class="option" id="promote">Promote as Group Leader</button>
        <button class="option" id="evolve">Evolve</button>
        <button class="option" id="devolve">Devolve</button>
    
    </div>
    
    <div id="container-evolution">
        <div class="subtitle">Choose an evolution:</div>
        <div class="container"></div>
    </div>
    
</div>


