

<div class="adventurer-info" id="adventurer-display-inbox">


  <div id="types-and-level">
    <span id="adv-level">0</span>
    <span class="Type1 type-picture"></span>
    <span class="Type2 type-picture"></span>
  </div>
  
<div id="top-header">
  <div class="Prefix"> 
  </div>
  <div class="Title"> 
  </div>
</div>

<div class="box1">


<div class="Art"></div>
  
  
<div class="attributes">

  <div class="pimary-infos">
    <span class="attr Culture"></span> - 
    <span class="attr Type"></span>
  </div>

  
  <div class="age-upkeep"><span class="Age"></span><span class="Upkeep"></span></div>

  <div class="LifeInfo">

      <span class="Life"></span>
      <span class="MaxLife"></span>
      <span class="SubCategory">placeholder</span>

  </div>

  <div class="Speed"></div>
    <div class="Resistances">
      <span class="attr HandResist"></span>
      <span class="attr RangedResist"></span>
    </div>

</div>

</div>

	<div class="culture-box">
		<div class="CultureImg1 culture-icon"></div>
		<div class="CultureImg2 culture-icon"></div>
	</div>
	


  <div class="MountedArt"></div>

<div class="info">
  
<div class="attributes-points">
  <span class="Strength"></span>
  <span class="Dexterity"></span>
  <span class="Artisanship"></span>
  <span class="Cunning"></span>
  <span class="Education"></span>
</div>
  


<div class="attacks">


    <span class="Base-attack"></span>
    <span class="Specialty"></span>
    <span class="Specialty1"></span>
    <span class="Specialty2"></span>
    <div class="Weapon"></div>
    <div class="weapon-type"></div>



</div>
  

  
  <div class="signature-container">
    <span class="Signature"></span>
    <div id="signature-skill" class="skilz"></div>
  </div>
  <div class="Description"></div>
  <fieldset id="Affixes"><legend>Affixes</legend></fieldset>
</div>

<fieldset class="upgrades">
  <legend id="UpgradesText">Evolution(s)</legend>
<div id="upgrades_pics">
  <div class="Upgrade1Art upgradeClick"><span class="Upgrade1 upgradeClick"></span></div>
  <div class="Upgrade2Art upgradeClick"><span class="Upgrade2 upgradeClick"></span></div>
  <div class="Upgrade3Art upgradeClick"><span class="Upgrade3 upgradeClick"></span></div>
</div>
</fieldset>
  
  <div class="Lore"></div>

  <!-- Add other properties here -->
</div>