

<div class="adventurer-info" id="adventurer-display-inbox">

  
<div id="top-header">
  <div class="Title"> 
  </div>
  <span class="Type1 type-picture"></span>
	<span class="Type2 type-picture"></span>
</div>
  <div class="Art"></div>
  
  
<div class="attributes">
  <div class="Type"></div>
  <div class="Rarity"></div>
  <div class="Life"></div>
  <div class="Speed"></div>
  <div class="Age"></div>
</div>

	<div class="culture-box">
		<div class="Culture"></div>
		<div class="CultureImg1 culture-icon"></div>
		<div class="CultureImg2 culture-icon"></div>
	</div>
	


  <div class="MountedArt"></div>

<div class="info">
  
<div class="attacks">
  <span class="Specialty1"></span>
  <span class="Specialty2"></span>
  <span class="Specialty"></span>
  <span class="Base-attack"></span>
</div>

<span class="SubCategoryArt"></span><div class="SubCategory"></div>
  
  
  <div class="Signature"></div>


</div>

<fieldset class="upgrades">
  <legend id="UpgradesText">Possible upgrades:</legend>
<div id="upgrades_pics">
  <div class="Upgrade1Art upgradeClick"><span class="Upgrade1 upgradeClick"></span></div>
  <div class="Upgrade2Art upgradeClick"><span class="Upgrade2 upgradeClick"></span></div>
  <div class="Upgrade3Art upgradeClick"><span class="Upgrade3 upgradeClick"></span></div>
</div>
</fieldset>
  
  <div class="Lore"></div>

  <!-- Add other properties here -->
</div>