<div class="backpack" id="backpack">

    <div class="tab-header">
      <div class="tab active" onclick="switchTab('backpack-items')" data-target="backpack-items">Items</div>
      <div class="tab" onclick="switchTab('backpack-fragments')" data-target="backpack-fragments">Fragments</div>
      <div class="tab" onclick="switchTab('backpack-skills')" data-target="backpack-skills">Skills</div>
    </div>

    <div class="tab-content">

    <div id="backpack-items" class="tab-content-items active">Items Content</div>

    <div id="backpack-skills" class="tab-content-skills inactive">
        <div id="skill-box" class="inactive">
            
          <div id="skill-header" class="infobox-header inactive">Skills (5)</div>
          <div id="skill-list"></div>
        
        </div>
    </div>
        
    <div id="backpack-fragments" class="tab-content-fragments inactive"></div>
      

    </div>

</div>