    <div class="building-menu">

        <div id="building-type"></div>

        <div id="occupants">

        </div>

        <div id="npc-menu">

                <div class="header">
                    <div id="owner-title"></div>
                    <div id="owner-gold"></div>
                </div>

                <div class="commands">
                    <div class="options">
                        <button id="talk-button">Talk</button>
                        <button id="trade-button">Trade</button>
                    </div>
                </div>

                <div class="interaction">

                    <div class="talk">
                        
                    </div>

                    <div class="trade">

                        <div class="inventories">
                                <div class="inventory-content npc"></div>

                                <div class="player-export">
                                    <div class="header">Our items:</div>
                                    <div class="inventory-content player"></div>
                                </div>

                        </div>
                    </div>

                </div>

        </div>

        <button id="exit-button">Leave</button>


    </div>