


<div id="combat-container">

    <div id="combat-summary">

        <div class="group-info-combat" id="own-group">
            <div class="title">Us</div>
            <progress class="lifebar" id="own-group-life-bar" value="" max=""></progress>
        </div>

        <div class="group-info-combat" id="enemy-group">
            <div class="title">Foes</div>
            <progress class="lifebar" id="enemy-group-life-bar" value="" max=""></progress>
        </div>

        <div class="group-info-combat" id="dps-stats">
            <div class="title">DPS Stats</div>
            <div id="dps_counters">

            </div>
        </div>

    </div>

    <div id="combat-table-box">

    </div>

</div>