<div class="info-template">


<div id="title-groupclass">
    <div id="class-icon">
    </div>
    <div id="class-title">
    </div>
</div>


<div id="class-title-selection">
    <select name="prefixes" id="groupclass-prefixes"></select>
    <select name="affixes" id="groupclass-affixes"></select>
</div>

<div id="class-types">

</div>

<div id="bonuses">
    <li class="bonus"><span>Base Group Slots: </span><span id="base-slots-value"></span></li>
    <li class="bonus"><span>Initial Gold: </span><span id="base-gold"></span></li>
    <li class="bonus"><span>Spent Gold: </span><span id="spent-gold"></span></li>
    <li class="bonus"><span>Total: </span><span id="result-gold"></span></li>
    <li class="bonus"><span>Daily upkeep: </span><span id="upkeep-value"></span><span id="rebate-value"></span></li>
</div>

<div id="class-attributes">
    <div id="subtitle">Starting Attributes</div>
    <div id="attribute-container">
        <div id="strength"></div>
        <div id="cunning"></div>
        <div id="artisanship"></div>
        <div id="education"></div>
    </div>
</div>

<div id="starting-skills">
    <div id="subtitle">Starting Skills</div>
    <div id="skills-start">

    </div>
</div>

<div id="start-area">
    <div id="subtitle">Starting Areas<br>(You can pick one on the Map)</div>
    <div id="choose-location">

    </div>
</div>





<div id="class-desc">
</div>

</div>