<div id="content">


    <div class="top">

        <div class="slot empty-slot" id="canopy"></div>

        <div class="slot empty-slot" id="banner"></div>

    </div>


    <div class="center">

        <div class="slot empty-slot" id="lighting"></div>

        <div class="slot empty-slot" id="navigation"></div>

        <div class="slot empty-slot" id="thurible"></div>

    </div>


    <div class="bottom">

        <div class="slot empty-slot" id="effigy"></div>

        <div class="slot empty-slot" id="carriage"></div>

    </div>

</div>



<div id="adventurers">

    <div class="adventurer-slot"></div>
    <div class="adventurer-slot"></div>
    <div class="adventurer-slot"></div>
    <div class="adventurer-slot"></div>
    <div class="adventurer-slot"></div>
    <div class="adventurer-slot"></div>

</div>


<div id="active-weaponry">
    <div class="img"></div>
    <div class="right">
        <div class="text"></div>
        <div class="dmg"></div>
        <div class="cd"></div>
    </div>
</div>