


<div id="group-sheet">

    <div id="main-header">
        Group Stats
    </div>


<div class="sheet-container" id="major-attributes">

<div class="sheet-header">Major Attributes</div>

<div class="attribute-container">


    <div class="group-attribute major" id="willpower">
        <div class="attribute-name">Willpower</div>
        <div class="attribute-value" id="willpower">
            NN
        </div>
    </div>

    <div class="group-attribute major" id="cohesion">
        <div class="attribute-name">Cohesion</div>
        <div class="attribute-value" id="cohesion">
            NN
        </div>
    </div>
    
    <div class="group-attribute major" id="influence">
        <div class="attribute-name">Influence</div>
        <div class="attribute-value" id="influence">
            NN
        </div>
    </div>


    <div class="group-attribute major" id="tradition">
        <div class="attribute-name">Tradition</div>
        <div class="attribute-value" id="tradition">
            NN
        </div>
    </div>

    <div class="group-attribute major" id="stealth">
        <div class="attribute-name">Stealth</div>
        <div class="attribute-value" id="stealth">
            NN
        </div>
    </div>

    <div class="group-attribute major" id="perception">
        <div class="attribute-name">Perception</div>
        <div class="attribute-value" id="perception">
            NN
        </div>
    </div>

    <div class="group-attribute major" id="mobility">
        <div class="attribute-name">Mobility</div>
        <div class="attribute-value" id="mobility">
            NN
        </div>
    </div>

        


</div>

</div>



<div class="sheet-container" id="minor-attributes">

    <div class="sheet-header">Minor Attributes</div>
    
    <div class="attribute-container">


            <div class="group-attribute" id="harmony">
                <div class="attribute-name">Harmony</div>
                <div class="attribute-value" id="harmony">
                    NN
                </div>
            </div>

            <div class="group-attribute" id="culturalVariance">
                <div class="attribute-name">Cultural Variance</div>
                <div class="attribute-value" id="culturalVariance">
                    NN
                </div>
            </div>

            <div class="group-attribute" id="entropy">
                <div class="attribute-name">Entropy</div>
                <div class="attribute-value" id="entropy">
                    NN
                </div>
            </div>

            <div class="group-attribute" id="fame">
                <div class="attribute-name">Fame</div>
                <div class="attribute-value" id="fame">
                    NN
                </div>
            </div>
    
            <div class="group-attribute" id="moral">
                <div class="attribute-name">Moral</div>
                <div class="attribute-value" id="moral">
                    NN
                </div>
            </div>
    
            <div class="group-attribute" id="lore">
                <div class="attribute-name">Lore</div>
                <div class="attribute-value" id="lore">
                    NN
                </div>
            </div>

            <div class="group-attribute" id="quality">
                <div class="attribute-name">Quality</div>
                <div class="attribute-value" id="quality">
                    NN
                </div>
            </div>
    
    </div>



</div>



<div class="sheet-container" id="combat-stats">

    <div class="sheet-header">Combat Stats</div>
    
    <div class="attribute-container">
    
        <div class="group-attribute" id="totalDamage">
            <div class="attribute-name">Total Damage</div>
            <div class="attribute-value" id="totalDamage">
                NN
            </div>
        </div>

        <div class="group-attribute" id="unarmed">
            <div class="attribute-name">Unarmed</div>
            <div class="attribute-value" id="unarmed">
                NN
            </div>
        </div>

        <div class="group-attribute" id="melee">
            <div class="attribute-name">Melee</div>
            <div class="attribute-value" id="melee">
                NN
            </div>
        </div>

        <div class="group-attribute" id="archery">
            <div class="attribute-name">Archery</div>
            <div class="attribute-value" id="archery">
                NN
            </div>
        </div>

        <div class="group-attribute" id="gunpowder">
            <div class="attribute-name">Gunpowder</div>
            <div class="attribute-value" id="gunpowder">
                NN
            </div>
        </div>

    
    </div>
    
</div>



<div class="sheet-container" id="primary-attributes">

    <div class="sheet-header">Primary Attributes</div>
    
    <div class="attribute-container">
    
            <div class="group-attribute" id="strength">
                <div class="attribute-name">Strength</div>
                <div class="attribute-value" id="strength">
                    NN
                </div>
            </div>

            <div class="group-attribute" id="dexterity">
                <div class="attribute-name">Dexterity</div>
                <div class="attribute-value" id="dexterity">
                    NN
                </div>
            </div>

            <div class="group-attribute" id="artisanship">
                <div class="attribute-name">Artisanship</div>
                <div class="attribute-value" id="artisanship">
                    NN
                </div>
            </div>
    
            <div class="group-attribute" id="cunning">
                <div class="attribute-name">Cunning</div>
                <div class="attribute-value" id="cunning">
                    NN
                </div>
            </div>
    
            <div class="group-attribute" id="education">
                <div class="attribute-name">Education</div>
                <div class="attribute-value" id="education">
                    NN
                </div>
            </div>
    
    </div>
    
</div>







</div>