<div id="region-popup">

    <div class="title"></div>

    <fieldset class="data">
        <legend id="region-data">Environment</legend>
        <div class="info-cont"><div class="info-label">Terrain: </div><div class="terrain info-data"></div></div>
        <div class="info-cont"><div class="info-label">Climate: </div><div class="climate info-data"></div></div>
        <div class="info-cont"><div class="info-label">Vegetation: </div><div class="vegetation info-data"></div></div>
    </fieldset>

    <fieldset class="population">
        <legend id="region-population">Population</legend>
        <div class="info-cont" id="cultures"><div class="info-label">Culture(s): </div></div>
        <div class="info-cont"><div class="info-label">Faction(s): </div><div class="faction info-data"></div></div>
        <div class="info-cont"><div class="info-label">Population: </div><div class="pop info-data"></div></div>
        <div class="info-cont"><div class="info-label">Group(s): </div><div class="groups info-data"></div></div>
        <div class="info-cont"><div class="info-label">Level: </div><div class="level info-data"></div></div>
    </fieldset>

    <div class="index"></div>

    <div class="snapshot"></div>
</div>