<div id="settings-inner">


    <div class="setting">

        <div class="title">
            Tooltips Delay
        </div>

        <div class="parameter">
            <div class="slidecontainer">
                <input type="range" min="1" max="400" value="100" class="slider-settings" id="tooltip-delay">
                <div id="tooltips-delay-output">100</div>
            </div>
        </div>

    </div>



    <div class="setting">

        <div class="title">
            Visibility Radius
        </div>

        <div class="parameter">
            <div class="slidecontainer">
                <input type="range" min="0" max="150" value="52" class="slider-settings" id="visibility">
                <div id="visibility-output">52</div>
            </div>
        </div>

    </div>




    <div class="setting">

        <div class="title">
            Movement Speed Bonus
        </div>

        <div class="parameter">
            <div class="slidecontainer">
                <input type="range" min="0" max="3" value="1" class="slider-settings" id="movespeed">
                <div id="movespeed-output">1</div>
            </div>
        </div>

    </div>



    <div class="setting">

        <div class="title">
            Perspective & Rotation
        </div>

        <div class="parameter">
            <input type="checkbox" id="perspective" name="perspective" value="perspective" checked>
            <label for="perspective" id="perspective-toggle"> Toggle Perspective</label>
        </div>

        <div class="parameter">
            <div class="slidecontainer">
                <input type="range" min="5" max="60" value="20" class="slider-settings" id="grid-perspective">
                <div id="grid-perspective-output">20</div>
            </div>
        </div>

        <div class="parameter">
            <div class="slidecontainer">
                <input type="range" min="0" max="90" value="60" class="slider-settings" id="grid-angle">
                <div id="grid-angle-output">60</div>
            </div>
        </div>

    </div>





    <div class="setting">

        <div class="title">
            Retro Filter
        </div>

        <div class="parameter">
            <input type="checkbox" id="posterization" name="posterization" value="posterization" checked>
            <label for="posterization" id="posterization-toggle"> Toggle Retro Filters</label>
        </div>

    </div>



    <div class="setting">

        <div class="title">
            Movements Animation
        </div>

        <div class="parameter">
            <input type="checkbox" id="animations" name="animations" value="animations" checked>
            <label for="animations" id="animations-toggle"> Toggle Animations</label>
        </div>

    </div>




</div>


<div id="controls">
    <div class="control">
        <div class="key">Tab</div>
        <div class="function">Show menu</div>
    </div>

    <div class="control">
        <div class="key">Wheel</div>
        <div class="function">Select/Manage Adventurers [click: toggle UI]</div>
    </div>

    <div class="control">
        <div class="key">WASD</div>
        <div class="function">Movement</div>
    </div>

    <div class="control">
        <div class="key">R. Click</div>
        <div class="function">Zoom</div>
    </div>

    <div class="control">
        <div class="key">C</div>
        <div class="function">Toggle Sneak Mode</div>
    </div>

    <div class="control">
        <div class="key">F</div>
        <div class="function">Gather/Interact</div>
    </div>

    <div class="control">
        <div class="key">T</div>
        <div class="function">Move to next region</div>
    </div>

    <div class="control">
        <div class="key">Alt</div>
        <div class="function">Hide trees/roofs</div>
    </div>

    <div class="control">
        <div class="key">G</div>
        <div class="function">Switch view (FPS/Top-down) and reset FOV</div>
    </div>

    <div class="control">
        <div class="key">+/-</div>
        <div class="function">Change FOV</div>
    </div>

    <div class="control">
        <div class="key">Space</div>
        <div class="function">Toggle mouse pointer</div>
    </div>
    
    <div class="control">
        <div class="key">X</div>
        <div class="function">Toggle Cheats</div>
    </div>

    <div class="control">
        <div class="key">P</div>
        <div class="function">Toggle Retro Filters</div>
    </div>
</div>