<details>
    <summary>Show Filters</summary>

<div id="filtersection">
    <div id="textsearch-filter">
        <input type="text" id="searchTerm" placeholder="Search Adventurers" onkeyup="applyFilter()">
    </div>
    <form id="filterForm">
        <input type="checkbox" id="filterSlave" value="Slave" onchange="applyFilter()"><span>Slave</span>
        <input type="checkbox" id="filterCommoner" value="Commoner" onchange="applyFilter()"><span>Commoner</span>
        <input type="checkbox" id="filterExplorer" value="Explorer" onchange="applyFilter()"><span>Explorer</span>
        <input type="checkbox" id="filterOutlaw" value="Outlaw" onchange="applyFilter()"><span>Outlaw</span>
        <input type="checkbox" id="filterSoldier" value="Soldier" onchange="applyFilter()"><span>Soldier</span>
        <input type="checkbox" id="filterNoble" value="Noble" onchange="applyFilter()"><span>Noble</span>
        <input type="checkbox" id="filterNoble" value="Intellectual" onchange="applyFilter()"><span>Intellectual</span>
        <input type="checkbox" id="filterReligious" value="Religious" onchange="applyFilter()"><span>Religious</span>
        <input type="checkbox" id="filterReligious" value="General" onchange="applyFilter()"><span>General</span>
        </form>
    <form id="filterForm2">
            <input type="checkbox" value="Unarmed" onchange="applyFilter()"><span>Unarmed</span>
            <input type="checkbox" value="Melee" onchange="applyFilter()"><span>Melee</span>
            <input type="checkbox" value="Archery" onchange="applyFilter()"><span>Archery</span>
            <input type="checkbox" value="Gunpowder" onchange="applyFilter()"><span>Gunpowder</span>
            <input type="checkbox" value="Non-fighting" onchange="applyFilter()"><span>Non-fighting</span>
    </form>
    <form id="filterForm3">
        <div class="filterformpart">
            <input type="checkbox" value="French" onchange="applyFilter()"><span>French</span>
            <input type="checkbox" value="English" onchange="applyFilter()"><span>English</span>
            <input type="checkbox" value="Dutch" onchange="applyFilter()"><span>Dutch</span>
            <input type="checkbox" value="Scandinavian" onchange="applyFilter()"><span>Scandinavian</span>
            <input type="checkbox" value="German" onchange="applyFilter()"><span>German</span>
            <input type="checkbox" value="Balkan" onchange="applyFilter()"><span>Balkan</span>
            <input type="checkbox" value="West Slavic" onchange="applyFilter()"><span>West Slavic</span>
            <input type="checkbox" value="Russian" onchange="applyFilter()"><span>Russian</span>
            <input type="checkbox" value="Iberian" onchange="applyFilter()"><span>Iberian</span>
            <input type="checkbox" value="Italian" onchange="applyFilter()"><span>Italian</span>
            <input type="checkbox" value="Ottoman" onchange="applyFilter()"><span>Ottoman</span>
            <input type="checkbox" value="Arab" onchange="applyFilter()"><span>Arab</span>
        </div>
        <div class="filterformpart">
            <input type="checkbox" value="North African" onchange="applyFilter()"><span>N. African</span>
            <input type="checkbox" value="Bantu" onchange="applyFilter()"><span>Bantu</span>
            <input type="checkbox" value="Persian" onchange="applyFilter()"><span>Persian</span>
            <input type="checkbox" value="Indian" onchange="applyFilter()"><span>Indian</span>
            <input type="checkbox" value="Chinese" onchange="applyFilter()"><span>Chinese</span>
            <input type="checkbox" value="Japanese" onchange="applyFilter()"><span>Japanese</span>
            <input type="checkbox" value="Nanyang" onchange="applyFilter()"><span>Nanyang</span>
            <input type="checkbox" value="Altaic" onchange="applyFilter()"><span>Altaic</span>
            <input type="checkbox" value="Arctic" onchange="applyFilter()"><span>Arctic</span>
            <input type="checkbox" value="American" onchange="applyFilter()"><span>American</span>
            <input type="checkbox" value="Latino" onchange="applyFilter()"><span>Latino</span>
            <input type="checkbox" value="Amerindian" onchange="applyFilter()"><span>Amerindian</span>
            <input type="checkbox" value="Native" onchange="applyFilter()"><span>Native</span>
        </div>
    </form>

    </div>

</details>